.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: rgba(255, 0, 0, 0.377);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: red;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  [data-theme="dark"] .dynamic-delete-button {
    color: red(255, 255, 255);
  }
  [data-theme="dark"] .dynamic-delete-button:hover {
    color: red(255, 255, 255, 0.65);
  }
  
  .dynamic-confirm-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: rgba(0, 128, 0, 0.377);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-confirm-button:hover {
    color: green;
  }
  .dynamic-confirm-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  [data-theme="dark"] .dynamic-confirm-button {
    color: green;
  }
  [data-theme="dark"] .dynamic-confirm-button:hover {
    color: green;
  }
  .ant-btn-round.ant-btn-sm {
    padding: 0%;
  }
  
  #top-add-btn.anticon.anticon-plus-circle {
    display: flex;
    justify-content: center;
    position: relative;
    top: 4px;
    margin: 0 8px;
  
    cursor: pointer;
    transition: all 0.3s;
  }
  #top-add-btn.anticon.anticon-plus-circle:hover {
    color: rgba(24, 90, 233, 0.753);
    font-size: 20px;
  }
  
  #buttom-add-btn.anticon.anticon-plus-circle {
    /* display: flex;
    justify-content: center;
    */
    display: flex;
    justify-content: center;
    position: relative;
    top: 4px;
    margin: 6px 0px;
  }
  #buttom-add-btn.anticon.anticon-plus-circle :hover {
    color: rgba(24, 90, 233, 0.753);
    font-size: 20px;
  }
  .input-rebrique {
    position: relative;
  }
  .ant-form-item-control-input-content {
    height: 100px;
  }
  
  .ant-form-item-control-input-content {
    height: 74px;
  }
  